App1.1/obj/Debug/net10.0/App1.1.AssemblyInfo.cs
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfoInputs.cache
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfo.cs
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfoInputs.cache
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfo.cs
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfoInputs.cache
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfo.cs
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfoInputs.cache
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfo.cs
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfoInputs.cache
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfo.cs
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfoInputs.cache
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfo.cs
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfoInputs.cache
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfo.cs
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfoInputs.cache
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfo.cs
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfoInputs.cache
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfo.cs
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfoInputs.cache
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfo.cs
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfoInputs.cache
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfo.cs
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfoInputs.cache
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfo.cs
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfoInputs.cache
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfo.cs
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfoInputs.cache
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfo.cs
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfoInputs.cache
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfo.cs
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfoInputs.cache
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfo.cs
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfoInputs.cache
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfo.cs
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfoInputs.cache
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfo.cs
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfo.cs
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfoInputs.cache
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfo.cs
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfoInputs.cache
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfo.cs
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfoInputs.cache
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfo.cs
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfoInputs.cache
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfo.cs
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfoInputs.cache
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfo.cs
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfoInputs.cache
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfo.cs
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfoInputs.cache
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfo.cs
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfoInputs.cache
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfo.cs
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfoInputs.cache
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfo.cs
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfoInputs.cache
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfo.cs
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfoInputs.cache
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfo.cs
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfoInputs.cache
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfo.cs
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfoInputs.cache
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfo.cs
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfoInputs.cache
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfo.cs
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfoInputs.cache
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfo.cs
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfoInputs.cache
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfo.cs
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfoInputs.cache
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfo.cs
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfoInputs.cache
.gitignore
CSharpCourse.sln
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfo.cs
App1.1/obj/Debug/net10.0/App1.1.AssemblyInfoInputs.cache
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfo.cs
App1.2/obj/Debug/net10.0/App1.2.AssemblyInfoInputs.cache
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfo.cs
App1.3/obj/Debug/net10.0/App1.3.AssemblyInfoInputs.cache
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfo.cs
App1.4/obj/Debug/net10.0/App1.4.AssemblyInfoInputs.cache
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfo.cs
App1.5/obj/Debug/net10.0/App1.5.AssemblyInfoInputs.cache
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfo.cs
App1.6/obj/Debug/net10.0/App1.6.AssemblyInfoInputs.cache
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfo.cs
App2.1/obj/Debug/net10.0/App2.1.AssemblyInfoInputs.cache
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfo.cs
App2.10/obj/Debug/net10.0/App2.10.AssemblyInfoInputs.cache
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfo.cs
App2.11/obj/Debug/net10.0/App2.11.AssemblyInfoInputs.cache
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfo.cs
App2.12/obj/Debug/net10.0/App2.12.AssemblyInfoInputs.cache
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfo.cs
App2.2/obj/Debug/net10.0/App2.2.AssemblyInfoInputs.cache
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfo.cs
App2.3/obj/Debug/net10.0/App2.3.AssemblyInfoInputs.cache
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfo.cs
App2.4/obj/Debug/net10.0/App2.4.AssemblyInfoInputs.cache
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfo.cs
App2.5/obj/Debug/net10.0/App2.5.AssemblyInfoInputs.cache
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfo.cs
App2.6/obj/Debug/net10.0/App2.6.AssemblyInfoInputs.cache
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfo.cs
App2.7/obj/Debug/net10.0/App2.7.AssemblyInfoInputs.cache
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfo.cs
App2.8/obj/Debug/net10.0/App2.8.AssemblyInfoInputs.cache
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfo.cs
App2.9/obj/Debug/net10.0/App2.9.AssemblyInfoInputs.cache
